Letâ€™s generate some data with, say 2000 samples, and 10 features. We can put it in a dataframe for a nice clean table view of it.

In [1]:
from sklearn.datasets import make_blobs
import pandas as pd

In [2]:
blobs, labels = make_blobs(n_samples=2000, n_features=10)
pd.DataFrame(blobs).head()

,0,1,2,3,4,5,6,7,8,9
0,-1.054773,3.266281,-5.058724,4.431432,4.566634,-6.985128,-2.721156,-9.001832,8.697240,6.158202
1,0.271185,3.179104,-5.467270,2.762884,6.097292,-6.367309,-3.921054,-7.481375,5.342334,5.190005
2,-0.526512,-5.675015,-6.364774,-4.295291,2.334135,-6.843486,1.329903,-0.476329,-3.637159,-0.249114
3,8.492310,-2.424373,-10.757956,-6.841205,-1.973188,5.699162,1.681388,-8.096478,10.007756,0.578177
4,6.759601,1.643052,-9.657061,-7.500850,-3.111879,6.643420,1.067249,-9.657273,8.477428,0.031631

In [1]:
import hdbscan