In [25]:
from __future__ import print_function, division
from PyAstronomy import pyasl
from astropy.table import Table, vstack
from astropy import units as u
from astropy.coordinates import SkyCoord
import numpy as np

In [26]:
# Coordinates of HD 1 from SIMBAD
hd_1437A = "03 43 02.1 -36 16 24"
ra, dec = pyasl.coordsSexaToDeg(hd_1437A)
ra, dec

(55.75875, -36.27333333333333)

In [34]:
hd_1427A = "03 40 09.0 -35 37 34"
ra1, dec1 = pyasl.coordsSexaToDeg(hd_1427A)
ra1, dec1

(55.0375, -35.626111111111115)

In [35]:
ra2, dec2 = 51.808, -33.483
ra3, dec3 = 47.6121, -33.1646
ra4, dec4 = 56.3018, -35.5720
ra5, dec5 = 51.3213, -36.3764

In [36]:
ral = []
decl = []

In [37]:
ral.append(ra)
ral.append(ra1)
ral.append(ra2)
ral.append(ra3)
ral.append(ra4)
ral.append(ra5)

In [38]:
decl.append(dec)
decl.append(dec1)
decl.append(dec2)
decl.append(dec3)
decl.append(dec4)
decl.append(dec5)

In [44]:
ngX = np.empty((6, 2), dtype=np.float64)
ngX[:, 0] = ral
ngX[:, 1] = decl
table = Table([ngX[:, 0], ngX[:, 1]], names=('RA', 'DEC'), meta={'name': 'first table'})
ngX.shape

(6, 2)

In [40]:
table

<Table length=6>
   RA            DEC
float64        float64
-------- -------------------
55.75875  -36.27333333333333
 55.0375 -35.626111111111115
  51.808             -33.483
 47.6121            -33.1646
 56.3018             -35.572
 51.3213            -36.3764

In [42]:
table.write("Gustavo_fornax.dat", format="ascii.commented_header")